version: "3"
services:
  file-server:
    container_name: file-server__rust_${host_port}
    build:
      context: ./
      dockerfile: file-server.podmanfile
    environment:
      - FILEPATH_ROOT=${dirname_root}
      - FILEPATH_400=${filepath_400}
      - FILEPATH_404=${filepath_404}
    ports:
      - ${host_port}:${container_port}
    volumes:
      - ${dirname_root}:/usr/src/app:z