FROM rust:latest

VOLUME ["/usr/share/www/"]
EXPOSE [{port}]

COPY {config_json_path} /usr/share/
ADD {config_mod_dir} /usr/local/config
ADD {file_server_mod_dir} /usr/local/file-server

RUN cargo install --path /usr/local/file-server/v0.1/file-server/

CMD ["file-server", "/usr/share/file-server.json"]
