version: "3"
services:
  file-server:
    container_name: file_server__rust_{port}
    build:
      context: ./
      dockerfile: file-server.podmanfile
    ports:
      - "{host}:{port}:3000"
    volumes:
      - {directory}:/usr/share/www:ro
