FROM rust:latest

VOLUME ["/usr/share/www/"]
EXPOSE 3000

COPY ./file_server.json /usr/local/
COPY {file_server_dir} /usr/local/file_server

RUN cargo install --path /usr/local/file_server/file_server/

CMD ["file_server", "/usr/local/file_server.json"]

