version: "3"
services:
  file-server:
    container_name: file_server__{port}
    build:
      context: ./
      dockerfile: file_server.podmanfile
    ports:
      - "{host}:{port}:3000"
    volumes:
      - {directory}:/usr/share/www:ro

